@model IEnumerable<FIT5032_assginment.Models.Coach>
@{
    ViewBag.Title = "SelectCoach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select a coach</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoachName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoachDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoachPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SwimmingPool.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoachName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SwimmingPool.Name)
            </td>
            <td>
                @Html.ActionLink("Select", "Edit", new { id = item.Id }) @*|
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>